reporting.cas.auth.servicebaseurl=http://localhost:8080/
reporting.cas.auth.login=https://idp.inra.fr/cas/login
reporting.cas.auth.server=https://idp.inra.fr/cas
reporting.cas.auth.logout=https://idp.inra.fr/cas/logout

service.authent.wsdl.url=http://activites-test.jouy.inra.fr:9080/services-authentification/RAAuthentificationUtilisateur?wsdl
service.authent.wsdl.namespace=http://endpoint.activites.dsi.inra.fr/
service.authent.wsdl.localpart=services-authentification

configuration.feedback.mail=pilsmco@inra.fr

configuration.user.admin=136522T

reporting.rapportDescritpion.class.exclude=RapportListeActivitesParUnite
