
/*header {
    min-width: 0px;
}
.content {
    min-width: 0px;
}*/

header .container {
    background-position: 10px 26px;
}
header .container {
    height: 124px;
}
header .user-block{
    padding-left: 6px;
}

footer .footer-item {
    min-width: 0px;
    float: none;
}
.footer-size {
    height: 36px;
}
footer .footer-item:first-child{
    padding-left: 4px;
}

.content .connect-outter{
    padding-left: 0px;
    margin-top: 8px;
}

